/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db

app/config/local
*.sublime-project
*.sublime*

# ignore the video game images
public/images/games/*
!public/images/games/default.jpg